early_data

    used in EAP-TLS.  A EAP-TLS server which receives an "early_data"
    extension MUST ignore the extension or respond with a
    HelloRetryRequest as described in Section 4.2.10 of [RFC8446].

It's probably better to place restrictions on the indication that early
data might be possible, than to (just) place restrictions on accepting
it.  That is, if the server is forbidden from generating a
NewSessionTicket message that includes the "early_data" extension, then
the client is also forbidden from sending "early_data" in a ClientHello.
[ed. we do do this in §2.1.2]