Editorial Nits

From Alan's review:

> Section 1
> Other than the abstract, this is the only reference to EAP-TLS 1.3
> being backwards compatible with older versions of EAP-TLS.  This
> compatibility is simply asserted, with no further explanation given.
> 
> Q: What does "backwards compatible" mean?  How is it achieved?
> 

Section 1 says:

> 
>         ... Privacy, which in EAP-TLS means that the peer username is not
>    disclosed
> 
> Nit: For resumption, the peer username (TLS PSK identity) is
> disclosed, but it is meaningless.  Also, EAP uses "Identity" and not
> "username".
> 
> Suggestion: instead, say
> 
>         ... Privacy, which in EAP-TLS means that no information about
>    the underlying peer identity is disclosed.

> Section 2.1.3 says this about the session ticket:
> 
>    ... If the EAP-TLS server
>    accepts it, then the security context of the new connection is tied
>    to the original connection and the key derived from the initial
>    handshake is used to bootstrap the cryptographic state instead of a
>    full handshake. 
> 
> Nit: This the the only reference to "bootstrap the cryptographic
> state" in this document.  This text seems like an unnecessary
> repetition of RFC 8446 Section 2.2.
> 
> Suggestion: Perhaps say instead
> 
>    ... If the EAP-TLS server
>    accepts it, then the resumed session has been deemed to be
>    authenticated, and securely associated with the prior authentication
>    or resumption.

> Section 2.1.3 says:
> 
>    It is up to the EAP-TLS peer whether to offer
>    resumption, ut it is RECOMMENDED
> 
> NIT: typo "but".

> Section 2.1.3 says:
> 
>    ... However, the EAP-TLS server
>    MAY choose to require a full handshake.  As in a full handshake,
>    sending a NewSessionTicket is optional. 
> 
> Q: The text seems unclear, a full handshake is given as an example of
> "as in" a full handshake?  Perhaps the following is clearer:
> 
>    ... However, the EAP-TLS server MAY choose to require a full
>    handshake.  In the case a full handshake is required, the
>    negotiation proceeds as if the session was a new authentication,
>    and resumption had never been requested.  The requirements of
>    Sections 2.1.1 and 2.1.2 then apply in their entirety.

> Section 5.7 says:
> 
>    There are a number of security issues related to resumption that are
>    not described in [RFC5216].  The problems, guidelines, and
>    requirements in this section therefore applies to all version of TLS.
> 
> NIT: These requirements are for EAP-TLS, and not TLS.  Perhaps instead:
> 
>    There are a number of security issues related to resumption that are
>    not described in [RFC5216].  The problems, guidelines, and
>    requirements in this section therefore applies EAP-TLS when is used
>    with any version of TLS.
> 

Also 
> Section 2.3 says:
> 
>    By using the TLS exporter, EAP-TLS can use any TLS 1.3 implementation
>    without having to extract the Master Secret, ClientHello.random, and
>    ServerHello.random in a non-standard way.
> 
> NIT: the exporters were first defined in TLS 1.2, and have been widely
> available in TLS library implementations.  Using master secret,
> etc. has not been necessary for a while.  Further, the "non-standard"
> use of Master Secret, etc. was first done in the original EAP-TLS RFC
> [2716], in 1999.  The TLS WG later defined and standardized the
> exporters in order to meet the needs of EAP-TLS.
> 
> Perhaps instead say:
> 
>    By using the TLS exporter, EAP-TLS can use any TLS 1.3 implementation
>    which provides a public API for the exporter.  There has been no need
>    to access internal fields in TLS since the public exporters were
>    defined in [RFC5705].
> 
