Section 5 open issues

From Alan's review of section 5

> Section 5.1 says:
>
>  [4] Cryptographic Negotiation: TLS 1.3 increases the number of
>  cryptographic parameters that are negotiated in the handshake.  When
>  EAP-TLS is used with TLS 1.3, EAP-TLS inherits the cryptographic
>  negotiation of AEAD algorithm, HKDF hash algorithm, key exchange
>  groups, and signature algorithm, see Section 4.1.1 of [RFC8446].
>
> Question: what does this mean in practice for EAP-TLS?  i.e. this text
> describes a capability.  It does not describe what that capability
> does, or how it benefits EAP-TLS.
>
How about:
"[4] Cryptographic Negotiation: The TLS layer handles the negotiation of cryptographic parameters.  When EAP-TLS is used with TLS 1.3, EAP-TLS inherits the cryptographic negotiation of AEAD algorithm, HKDF hash algorithm, key exchange groups, and signature algorithm, see Section 4.1.1 of [RFC8446]."

>
> Section 5.2 says:
>
> No updates to section 5.2 of [RFC5216].
>
> This isn't true.  Section 2.2 has substantial new text with new requirements, and new security impacts.
>

- Add note that "Section 2.2 has additional discussion on identities."

>
> Section 5.3 says:
>
>   While certificates may have long validity periods,
>
> Comment: Certs issued by public CAs are generally short-lived, as in a year or so.  It may be worth discussing this.
>

It's not clear what to add here.

>
> Section 5.4 says:
>
>   Some deployments may permit no peer authentication for some or all
>   connections.  When peer authentication is not used, implementations
>   MUST take care to limit network access appropriately for
>   unauthenticated peers
>
> Q: Are these EAP server implementations?  How does an EAP server limit network access for unauthenticated peers?
>

This should be address by PR #83 modifications for section 5.6.

> Section 5.7 says:
>
>  There are a number of security issues related to resumption that are
>  not described in [RFC5216].  The problems, guidelines, and
>  requirements in this section therefore applies to all version of TLS.
>
> NIT: These requirements are for EAP-TLS, and not TLS.  This document does not apply new security requirements to the TLS protocol
>
> Perhaps instead:
>
>  There are a number of security issues related to resumption that are
>  not described in [RFC5216].  The problems, guidelines, and
>  requirements in this section therefore applies EAP-TLS when is used
>  with any version of TLS.
>

This comment should already be addressed by PR #83 or draft 16 text.

>
> Section 5.7 says:
>
>   If the EAP-TLS server or EAP client do not apply any authorization
>   policies,
>
> NIT: EAP-TLS servers do not apply authorization policies.  Perhaps explain that the EAP-TLS server is co-located with RADIUS / Diameter etc, and those apply policies.
>
> NIT2: It's not clear how an EAP client would apply authorization policies.  Perhaps just remove the reference to the EAP client.
>
Authorization should be discussed in the authorization section.  Perhaps reword paragraph to:

"The EAP-TLS server or EAP client  MUST cache data during the
initial full handshake sufficient to allow authorization decisions to be made during resumption.  If cached data cannot be retrieved in a secure way, resumption MUST NOT be done."




Maybe just delete "While certificates may have long validity periods,"

I have added commits to #83 addressing all these comments based on the suggestions above.

I think PR #83 addresses this issue.

Fixed in -17