Francesca Palombini's No Objection on draft-ietf-emu-eap-tls13-20

Thank you for the work on this document. I only have one minor comment and a nit. Neither require replies strictly speaking, please feel free to address as you see fit.

Francesca

## minors

1. -----

   All the following references in [RFC5216] are updated as specified
   below when EAP-TLS is used with TLS 1.3.

   All references to [RFC2560] are updated with [RFC6960].

   All references to [RFC3280] are updated with [RFC5280].

   All references to [RFC4282] are updated with [RFC7542].

FP: I just want to double check everybody is ok with doing this type of update to the references: as the table of contents of these documents are not exactly the same, strictly speaking this could lead to some inaccuracies - for example RFC 5216 states:

   as a server certificate.  Implementations SHOULD use the Extended Key
   Usage (see Section 4.2.1.13 of [RFC3280]) extension and ensure that

Section 4.2.1.13 of RFC 3280 is 

                  4.2.1.13. CRL Distribution Points ..................45

Section 4.2.1.13 of RFC 5280 is

   4.2.1.13  Extended Key Usage . . . . . . . . . . . . . . . .  40

This is not a big issue because the table of contents are mostly the same, but still requires the reader to be able to backtrack the right section (in this case, it would be 4.2.1.14)
(This is only an example, I haven't checked all occurrences of those references in RFC 5216).

## nits

2. -----

FP: s/shepard/shepherd

I have updated the appendix with specific updates to the sections that needed change.

Mohit has already done a commit to address s/shepard/shepherd.

I think everything is Francesca's comments have been addressed.